---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}/</loc>
  </url>
  <url>
    <loc>{{ site.url }}/labs/</loc>
  </url>
  <url>
    <loc>{{ site.url }}/thoughts/</loc>
  </url>
  {% for writing in collections.writings %}
  <url>
    <loc>{{ site.url }}{{ writing.url }}</loc>
  </url>
  {% endfor %}
  <url>
    <loc>{{ site.url }}/collections/</loc>
  </url>
  {% for collection in collections.thematicCollections %}
  <url>
    <loc>{{ site.url }}{{ collection.url }}</loc>
  </url>
  {% endfor %}
</urlset>
