<!--
  Writing Item Component

  Features:
  - Horizontal shift on hover (padding change)
  - Underline reveal on title
  - Title + date layout
  - Border lines (top on list, bottom on each item)

  List: Use inside .writing-list

  Requires:
  - CSS from NEON_NOIR_DESIGN_SYSTEM.md
-->

<li class="writing-item">
  <a href="/writing/article-slug/" class="writing-link">
    <span class="writing-title">Article Title Goes Here</span>
    <span class="writing-date">Dec 2025</span>
  </a>
</li>

<!--
  List wrapper:

  <ul class="writing-list">
    <li class="writing-item">
      <a href="#" class="writing-link">
        <span class="writing-title">Building in Public: Notes from the First Year</span>
        <span class="writing-date">Dec 2026</span>
      </a>
    </li>
    <li class="writing-item">
      <a href="#" class="writing-link">
        <span class="writing-title">Why Design Systems Matter More Than Ever</span>
        <span class="writing-date">Nov 2026</span>
      </a>
    </li>
  </ul>
-->

<!--
  Mobile note:
  On small screens (<500px), the link becomes column layout
  with title above date, both left-aligned.
-->
