<!DOCTYPE html>
<html lang="en">
<head>
  {% include "components/head.njk" %}
  {% block styles %}{% endblock %}
</head>
<body>
  {% include "components/nav.njk" %}

  <main>
    {% block content %}{% endblock %}
  </main>

  {% include "components/footer.njk" %}

  {% block scripts %}{% endblock %}
</body>
</html>
